<clr-tabs>

    <clr-tab>
        <button clrTabLink>JSON</button>
        <clr-tab-content *clrIfActive>
            <div class="clr-row button-panel">
                <div class="clr-col-12">
                    <clr-dropdown>
                        <button class="btn btn-primary" clrDropdownTrigger>
                            {{ selectedJsonMethod }}
                            <cds-icon shape="angle" direction="down"></cds-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                            <div aria-label="JSON-Formatter" clrDropdownItem (click)="onHashMethodSelect($event)">JSON
                                Validator</div>
                            <!-- <div aria-label="JSON-Diff" clrDropdownItem (click)="onHashMethodSelect($event)">JSON
                                    Diff</div>
                            <div aria-label="JSON-Explorer" clrDropdownItem (click)="onHashMethodSelect($event)">JSON
                                Explorer</div> -->
                        </clr-dropdown-menu>
                    </clr-dropdown>
                    <button class="btn btn-success" style="float: right;" (click)="validateAndFormatJson()" [disabled]="!editorPanel.code">{{
                        selectedJsonMethod === 'JSON Validator' ?
                        'Validate' : 'Explore' }}</button>
                </div>
            </div>
            <app-editor-panel language="json" [controls]=true></app-editor-panel>
        </clr-tab-content>
    </clr-tab>

</clr-tabs>

<clr-alert *ngIf="showAlert" [clrAlertType]="alertType" class="json-alert">
  <clr-alert-item>
    <span class="alert-text">{{ alertMessage }}</span>
  </clr-alert-item>
</clr-alert>