<clr-main-container>
    <clr-header class="header header-7">
        <div class="branding">
            <a routerLink="/" routerLinkActive="active" class="nav-link">
                <cds-icon shape="tools" style="color: white; width: 30px"></cds-icon>
                <span class="title">ToolForge</span>
            </a>
        </div>
        <div class="header-actions" style="display: flex; align-items: center;">
            <cds-icon shape="sun" class="sun-icon margin-right"></cds-icon>
            <input type="checkbox" id="theme-toggle" (change)="toggleTheme($event)" clrToggle checked>
            <cds-icon shape="moon" class="moon-icon margin-right"></cds-icon>
        </div>
    </clr-header>
    <div class="content-container">
        <clr-vertical-nav [clr-nav-level]="2" [clrVerticalNavCollapsible]=isNavCollapsed [clrVerticalNavCollapsed]=isNavCollapsed class="nav-trigger--bottom" (mouseenter)="isNavCollapsed = isWindowWidthGreaterThan992() ? false : isNavCollapsed" (mouseleave)="isNavCollapsed = isWindowWidthGreaterThan992() ? true : isNavCollapsed">
            <a clrVerticalNavLink routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
                Home
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/ai-chat" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="chat-bubble"></cds-icon>
                Converser AI
            </a>
            <a clrVerticalNavLink routerLink="/hash-generator" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="hashtag"></cds-icon>
                Hashers
            </a>
            <a clrVerticalNavLink routerLink="/json-formatter" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="form"></cds-icon>
                Formatters
            </a>
            <a clrVerticalNavLink routerLink="/encoder-decoder" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="nvme"></cds-icon>
                Encoders & Decoders
            </a>
            <a clrVerticalNavLink routerLink="/code-translator" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="language"></cds-icon>
                Translators
            </a>
            <a clrVerticalNavLink routerLink="/api-tester" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
                API Tester
            </a>
            <a clrVerticalNavLink routerLink="/regex" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="wrench"></cds-icon>
                Regex Tester
            </a>
            <a clrVerticalNavLink routerLink="/sql" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="data-cluster"></cds-icon>
                SQL Builder
            </a>
        </clr-vertical-nav> 
        <div class="content-container">
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</clr-main-container>