<clr-main-container>
    <clr-header class="header header-7">
        <div class="branding">
            <a routerLink="/" routerLinkActive="active" class="nav-link">
                <cds-icon shape="tools" style="color: white;"></cds-icon>
                <span class="title">ToolForge</span>
            </a>
        </div>
        <div class="header-actions" style="display: flex; align-items: center;">
            <cds-icon shape="moon" class="moon-icon margin-right"></cds-icon>
            <input type="checkbox" (change)="toggleTheme($event)" clrToggle>
            <cds-icon shape="sun" class="sun-icon"></cds-icon>
        </div>
    </clr-header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true" class="nav-trigger--bottom">
            <a clrVerticalNavLink routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
                Home
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/ai-chat" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="chat-bubble"></cds-icon>
                Converser AI
            </a>
            <a clrVerticalNavLink routerLink="/sha256hash" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="hashtag"></cds-icon>
                Hashers
            </a>
            <a clrVerticalNavLink routerLink="/json-formatter" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="code"></cds-icon>
                Formatters
            </a>
            <a clrVerticalNavLink routerLink="/json-formatter" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="code"></cds-icon>
                Decoders
            </a>
        </clr-vertical-nav> 
        <div class="content-container">
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</clr-main-container>