/* Styles for AI Chat Component */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message {
  align-self: flex-end;
  background-color: #48595f;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  max-width: 60%;
  color: #dedede;
}

.input-container {
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea[clrTextarea] {
  flex: -1;
  max-height: 6em;
}

textarea {
  flex: 1;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

button.btn.btn-primary {
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}
