/* Styles for AI Chat Component */

.message {
  align-self: flex-end;
  background-color: #48595f;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  max-width: 60%;
  color: #dedede;
  width: fit-content;
}

.input-container {
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea[clrTextarea] {
  flex: -1;
  max-height: 6em;
}

textarea {
  flex: 1;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

button.btn.btn-primary {
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

@media (max-width: 600px) {
  .chat-container {
    height: 100%;
  }
}

.chat-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-container.has-messages .messages {
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
  flex-direction: column-reverse;
}

@media (min-width: 1536px) {
  .chat-container.has-messages .input-container {
    position: relative;
    bottom: 0;
    width: 100%;
    animation: slideDown 0.3s ease-in-out forwards;
  }

  @keyframes slideDown {
    from {
      transform: translate(10.2vw, -35vh);
      width: 700px;
    }

    to {
      transform: translateY(0);
      width: 100%;
    }
  }
}

.chat-container.no-messages {
  justify-content: center;
  align-items: center;
}

.chat-container.no-messages .messages {
  display: none;
}

.chat-container.no-messages .input-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.input-header {
  margin-right: 5vw;
}
