.margin-right {
  margin-right: 5px;
}

.margin-left {
    margin-left: 40%;
  }

.card {
  transition: box-shadow 0.10s ease-in-out;
}
.card:hover {
  box-shadow: 0 2px 6px rgba(122, 118, 118, 0.449);
  cursor: pointer;
}