<div class="clr-row">
  <div class="clr-col-lg-6 clr-col-md-6 clr-col-12">
    <div class="card" (mouseover)="showOverlay(0)" (mouseout)="hideOverlay(0)">
      <div class="card-block" routerLink="/ai-chat" routerLinkActive="active">
        <div class="card-title">
          <cds-icon shape="chat-bubble" class="margin-right"></cds-icon>
          Converser AI
        </div>
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-11">
              Chat with AI to get help with your queries
            </div>
            <div class="clr-col-1">
              <cds-icon shape="arrow" direction="right" *ngIf="isHovered[0]" class="margin-left"></cds-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" (mouseover)="showOverlay(1)" (mouseout)="hideOverlay(1)">
      <div class="card-block" routerLink="/formatter" routerLinkActive="active">
        <div class="card-title">
          <cds-icon shape="form" class="margin-right"></cds-icon>
          Formatters & Validators
        </div>
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-11">
              Validate and Format JSON files
            </div>
            <div class="clr-col-1">
              <cds-icon shape="arrow" direction="right" *ngIf="isHovered[1]" class="margin-left"></cds-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" (mouseover)="showOverlay(2)" (mouseout)="hideOverlay(2)">
      <div class="card-block" routerLink="/hash-generator" routerLinkActive="active">
        <div class="card-title">
          <cds-icon shape="hashtag" class="margin-right"></cds-icon>
          Hashers
        </div>
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-11">
              Generate Hashes
            </div>
            <div class="clr-col-1">
              <cds-icon shape="arrow" direction="right" *ngIf="isHovered[2]" class="margin-left"></cds-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-6 clr-col-md-6 clr-col-12">
    <div class="card" (mouseover)="showOverlay(3)" (mouseout)="hideOverlay(3)">
      <div class="card-block">
        <sup class="coming-soon-fade coming-soon-right" style="font-size: 0.7em; color: #888;">Coming soon!</sup>
        <div class="card-title"><cds-icon shape="language" class="margin-right"></cds-icon>
          Translators
        </div>
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-11">
              Translate code
            </div>
            <div class="clr-col-1">
              <cds-icon shape="arrow" direction="right" *ngIf="isHovered[3]" class="margin-left"></cds-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" (mouseover)="showOverlay(4)" (mouseout)="hideOverlay(4)">
      <div class="card-block">
        <sup class="coming-soon-fade coming-soon-right" style="font-size: 0.7em; color: #888;">Coming soon!</sup>
        <div class="card-title">
          <cds-icon shape="nvme" class="margin-right"></cds-icon>
          Encoders & Decoders
        </div>
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-11">
              Encode & Decode strings
            </div>
            <div class="clr-col-1">
              <cds-icon shape="arrow" direction="right" *ngIf="isHovered[4]" class="margin-left"></cds-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" (mouseover)="showOverlay(5)" (mouseout)="hideOverlay(5)">
      <div class="card-block">
        <sup class="coming-soon-fade coming-soon-right" style="font-size: 0.7em; color: #888;">Coming soon!</sup>
        <div class="card-title">
          <cds-icon shape="bolt" class="margin-right"></cds-icon>
          API Tester
        </div>
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-11">
              Test REST APIs
            </div>
            <div class="clr-col-1">
              <cds-icon shape="arrow" direction="right" *ngIf="isHovered[5]" class="margin-left"></cds-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>