<div class="clr-row center-align">
    <div class="clr-col-12 center-align">
        <div class="login-wrapper">
            <form class="login" (ngSubmit)="signupMode ? signUp() : login()">
                <div class="login-header">
                </div>
                <div class="login-body">
                    <section class="title">
                        <div class="welcome">Welcome to</div>
                        ToolForge
                        <div class="hint">Expedite development & testing!</div>
                    </section>
                    <div class="login-group">
                        <clr-input-container>
                            <label class="clr-sr-only">E-mail</label>
                            <input type="email" autocomplete="username" name="username" clrInput
                                [(ngModel)]="email" placeholder="Enter e-mail" />
                        </clr-input-container>
                        <clr-password-container>
                            <label class="clr-sr-only">Password</label>
                            <input type="password" autocomplete="current-password" name="password" clrPassword
                                [(ngModel)]="password" placeholder="Enter password" />
                        </clr-password-container>
                        <clr-password-container *ngIf="signupMode">
                            <label class="clr-sr-only">Confirm Password</label>
                            <input type="password" autocomplete="new-password" name="confirmPassword" clrPassword
                                [(ngModel)]="confirmPassword" (ngModelChange)="validatePasswords()" placeholder="Confirm password" />
                        </clr-password-container>
                        <clr-checkbox-wrapper>
                            <label>Remember me</label>
                            <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="rememberMe"/>
                        </clr-checkbox-wrapper>
                        <div class="error" [class.active]="error">{{error}}</div>
                        <button type="submit" class="btn btn-primary" [disabled]="showSpinner">
                            {{signupMode ? 'Sign Up' : 'Log in'}}
                        </button>
                        <div class="divider">
                            <span>or</span>
                        </div>
                        <button type="button" class="btn btn-outline" (click)="loginWithGoogle()" [disabled]="showSpinner">
                            <img src="google.svg" alt="Google logo" style="width: 18px; height: 18px; margin-right: 8px;">
                            Sign in with Google
                        </button>
                        <a href="javascript://" class="signup" (click)="toggleSignupMode()">
                            {{signupMode ? 'Already have an account? Log in' : 'Sign up for an account'}}
                        </a>
                    </div>
                </div>
                <div class="login-footer">
                </div>
            </form>
        </div>
    </div>
</div>