<div class="clr-row center-align">
    <div class="clr-col-12 center-align">
        <div class="login-wrapper ">
            <form class="login">
                <div class="login-header">
                </div>
                <div class="login-body">
                    <section class="title">
                        <div class="welcome">Welcome to</div>
                        ToolForge
                        <div class="hint">Expedite development & testing!</div>
                    </section>
                    <div class="login-group">
                        <clr-input-container>
                            <label class="clr-sr-only">E-mail</label>
                            <input type="text" autocomplete="username" name="username" clrInput
                                placeholder="Enter e-mail" />
                        </clr-input-container>
                        <clr-password-container>
                            <label class="clr-sr-only">Password</label>
                            <input type="password" autocomplete="current-password" name="password" clrPassword
                                placeholder="Enter password" />
                        </clr-password-container>
                        <clr-checkbox-wrapper>
                            <label>Remember me</label>
                            <input type="checkbox" name="rememberMe" clrCheckbox />
                        </clr-checkbox-wrapper>
                        <div class="error active">Invalid user name or password</div>
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <a href="javascript://" class="signup">Sign up for an account</a>
                    </div>
                </div>
                <div class="login-footer">
                </div>
            </form>
        </div>
    </div>
</div>