<!-- <div class="clr-row">
    <div class="clr-col-12">
        <h5>Hash Generator</h5>
    </div>
</div> -->

<div class="clr-row button-panel">
    <div class="clr-col-5">
        <h5 style="margin-top: 12px;">Hash Generator</h5>
    </div>
    <div class="clr-col-7">
        <button class="btn btn-success" style="float: right;" (click)="generateHashes()" [disabled]="!(editorPanel && editorPanel.code)">Compute Hash</button>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-5 clr-col-12">
        <app-editor-panel></app-editor-panel>
    </div>
    <div class="clr-col-lg-7 clr-col-md-7 clr-col-12">
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>MD5</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="md5Hash" />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(md5Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>SHA-1</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="sha1Hash" />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(sha1Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>SHA-224</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="sha224Hash"  />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(sha224Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>SHA-256</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="sha256Hash"  />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(sha256Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>SHA-384</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="sha384Hash"  />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(sha384Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>SHA-512</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="sha512Hash"  />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(sha512Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-11">
                <form clrForm>
                    <clr-input-container>
                        <label>SHA-3</label>
                        <input clrInput name="name" class="text-width" [(ngModel)]="sha3Hash"  />
                    </clr-input-container>

                </form>
            </div>
            <div class="clr-col-1">
                <div class="btn-outline-primary btn-sm tool-button">
                    <button class="btn copy-button" (click)="copyToClipboard(sha3Hash, $event)">Copy</button>
                </div>
            </div>
        </div>
        
    </div>
</div>