/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.main-container {
  width: 100%;
}

.clr-toggle-wrapper {
  position: inherit !important;
  margin-right: 0 !important;
}

button {
  touch-action: manipulation;
}

.clr-ul,
.clr-list {
  list-style: initial !important;
}


.clr-form-control {
  width: 100% !important;
}

.clr-control-container {
  width: 100% !important;
}

.main-container .content-container .content-area {
  padding: 0rem 1.2rem 1.2rem 1.2rem;
}

.dropdown .dropdown-toggle {
  margin: var(--clr-btn-vertical-margin) var(--clr-btn-horizontal-margin) var(--clr-btn-vertical-margin) 0;
}

@media (max-width: 460px) {
  .main-container .content-container .content-area {
    padding: 0rem 0.5rem 0.5rem 0.5rem !important;
  }
}